.category {
    margin-bottom: 20px;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #000000;
}

.exercise {
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

h1 {
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 15px;
}

h3 {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}
